# ch13.1 csv 파일

## 교재 코드로 csv 파일 읽기

In [8]:
line_counter = 0            # 파일의 총 줄 수를 세는 변수
data_header = [ ]           # 데이터의 필드값을 저장하는 리스트
customer_list = [ ]         # customer의 개별 리스트를 저장하는 리스트

with open("customers.csv") as customer_data: # customers.csv 파일을 customer_data 객체에 저장
    while 1:
        data = customer_data.readline()     # customers.csv에 데이터 변수에 한 줄씩 저장
        if not data:break                   # 데이터가 없을 때, 반복문 종료
        if line_counter == 0:               # 첫 번째 데이터는 데이터의 필드
            data_header = data.split(",")   # 데이터의 필드는 data_header 리스트에 저장, 데이터 저장 시 ","로 분리
        else:
            customer_list.append(data.split(",")) # 일반 데이터는 customer_list 객체에 저장, 데이터 저장 시 “,”로 분리
        line_counter +=1

print("Header:", data_header)               # 데이터 필드값 출력
for i in range(0, 10):                      # 데이터 출력(샘플 10개만)
    print("Data",i,":",customer_list[i])
print(len(customer_list))                   # 전체 데이터 크기 출력

Header: ['customerNumber', 'customerName', 'contactLastName', 'contactFirstName', 'phone', 'addressLine1', 'addressLine2', 'city', 'state', 'postalCode', 'country', 'salesRepEmployeeNumber', 'creditLimit\n']
Data 0 : ['103', 'Atelier graphique', 'Schmitt', 'Carine ', '40.32.2555', '"54', ' rue Royale"', 'NULL', 'Nantes', 'NULL', '44000', 'France', '1370', '21000\n']
Data 1 : ['112', 'Signal Gift Stores', 'King', 'Jean', '7025551838', '8489 Strong St.', 'NULL', 'Las Vegas', 'NV', '83030', 'USA', '1166', '71800\n']
Data 2 : ['114', '"Australian Collectors', ' Co."', 'Ferguson', 'Peter', '03 9520 4555', '636 St Kilda Road', 'Level 3', 'Melbourne', 'Victoria', '3004', 'Australia', '1611', '117300\n']
Data 3 : ['119', 'La Rochelle Gifts', 'Labrune', 'Janine ', '40.67.8555', '"67', ' rue des Cinquante Otages"', 'NULL', 'Nantes', 'NULL', '44000', 'France', '1370', '118200\n']
Data 4 : ['121', 'Baane Mini Imports', 'Bergulfsen', 'Jonas ', '07-98 9555', 'Erling Skakkes gate 78', 'NULL', 'Stavern', 'NULL', '4110', 'Norway', '1504', '81700\n']
Data 5 : ['124', 'Mini Gifts Distributors Ltd.', 'Nelson', 'Susan', '4155551450', '5677 Strong St.', 'NULL', 'San Rafael', 'CA', '97562', 'USA', '1165', '210500\n']
Data 6 : ['125', 'Havel & Zbyszek Co', 'Piestrzeniewicz', 'Zbyszek ', '(26) 642-7555', 'ul. Filtrowa 68', 'NULL', 'Warszawa', 'NULL', '01-012', 'Poland', 'NULL', '0\n']
Data 7 : ['128', '"Blauer See Auto', ' Co."', 'Keitel', 'Roland', '+49 69 66 90 2555', 'Lyonerstr. 34', 'NULL', 'Frankfurt', 'NULL', '60528', 'Germany', '1504', '59700\n']
Data 8 : ['129', 'Mini Wheels Co.', 'Murphy', 'Julie', '6505555787', '5557 North Pendale Street', 'NULL', 'San Francisco', 'CA', '94217', 'USA', '1165', '64600\n']
Data 9 : ['131', 'Land of Toys Inc.', 'Lee', 'Kwai', '2125557818', '897 Long Airport Avenue', 'NULL', 'NYC', 'NY', '10022', 'USA', '1323', '114900\n']
122

In [9]:
import pandas as pd
df = pd.read_csv("customers.csv")
print(df.shape)
df

(122, 13)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",NaN,Nantes,NaN,44000,France,1370.0,21000
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,NaN,Las Vegas,NV,83030,USA,1166.0,71800
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611.0,117300
3,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",NaN,Nantes,NaN,44000,France,1370.0,118200
4,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,NaN,Stavern,NaN,4110,Norway,1504.0,81700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,486,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,NaN,Philadelphia,PA,71270,USA,1323.0,72600
118,487,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,NaN,Brisbane,CA,94217,USA,1165.0,60300
119,489,"Double Decker Gift Stores, Ltd",Smith,Thomas,(171) 555-7555,120 Hanover Sq.,NaN,London,NaN,WA1 1DP,UK,1501.0,43300
120,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,NaN,Boston,MA,51003,USA,1188.0,85100
121,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',NaN,Auckland,NaN,NaN,New Zealand,1612.0,110000

# ch13.2 로그 관리

In [10]:
import logging

logging.debug("틀렸잖아!")
logging.info("확인해!")
logging.warning("조심해!")
logging.error("에러 났어!!!")
logging.critical ("망했다….")

WARNING:root:조심해!
ERROR:root:에러 났어!!!
CRITICAL:root:망했다….

In [25]:
import logging

logger = logging.getLogger("main")        # logger 객체에 로그를 기록할 예정
stream_handler = logging.StreamHandler()  # StreamHandler : 출력 공간 지정
logger.addHandler(stream_handler)         # logger 의 출력 등록

logger.setLevel(logging.CRITICAL)         # 로깅 레벨 지정
logger.debug("틀렸잖아!")
logger.info("확인해!")
logger.warning("조심해!")
logger.error("에러 났어!!!")
logger.critical("망했다….")

망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….
망했다….

# ch13.3 설정 저장

In [27]:
import configparser
config = configparser.ConfigParser()
config.sections()

config.read("example.cfg")

['example.cfg']

In [28]:
config.sections()

['SectionOne', 'SectionTwo', 'SectionThree']

In [29]:
for key in config['SectionOne']:
    print(key)

status
name
value
age
single

In [30]:
for key in config['SectionTwo']:
    print(key)

favoritecolor

In [31]:
config['SectionOne']["status"]

'Single'