In [3]:
#71
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [6]:
#72
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank)
print(type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키')
<class 'tuple'>

In [13]:
#73  하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다. type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식합니다.
s = (1)
print(s)
print(type(s))
t = (1,)
print(t)
print(type(t))

1
<class 'int'>
(1,)
<class 'tuple'>

In [14]:
#74
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [16]:
#75 ->>>원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>