In [3]:
#71
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [6]:
#72
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank)
print(type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키')
<class 'tuple'>

In [13]:
#73  하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다. type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식합니다.
s = (1)
print(s)
print(type(s))
t = (1,)
print(t)
print(type(t))

1
<class 'int'>
(1,)
<class 'tuple'>

In [14]:
#74
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [16]:
#75 ->>>원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [19]:
#76 ->>> 튜플의 값은 변경할 수 없기 때문에, 리스트와 달리 아래 코드는 동작하지 않습니다. 
# 새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다. 기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제됩니다.
t = ('a', 'b', 'c')
print(type(t))
t = ('A', 'b', 'c')
print(type(t))
print(t)

<class 'tuple'>
<class 'tuple'>
('A', 'b', 'c')

In [24]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(type(interest))
data = list(interest)
print(type(data))

<class 'tuple'>
<class 'list'>

In [25]:
#78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(type(interest))
print(type(data))

<class 'list'>
<class 'tuple'>

In [29]:
#79 ->>> 튜플 언패킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [32]:
#80 ->>> range 함수
E = tuple(range(2,100,2))
print(E)
print(type(E))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)
<class 'tuple'>